@import "bootstrap";
@import "bootstrap-responsive";
@import "datepicker";
@import "races";
@import "results";

/*
 ************************************************
 bootstrap fixes
 ************************************************
 */
div.modal form {
    margin-bottom: 0px;
}

// bootstrap datepicker dropdown fix for appearing in modal divs
div.datepicker.dropdown-menu {
    z-index: 1051;
}






body {
  padding-top: 90px;
  margin-left: auto;
  margin-right: auto;
}

.modal > form {
  margin-bottom: 0px;
}

/* override bottstrap height for button dropdowns in a table */
td .btn-group .btn {
  line-height: 13px;
}

.panel {
  background: -webkit-gradient(linear, left top, left bottom, from(#ddd), to(#f6f6f6));
  background: -moz-linear-gradient(top, #ddd, #f6f6f6);
  padding: 2px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

.panel h3 {
	font-size: 1.2em;
  margin: 0px;
  background: #f6f6f6;
  padding: 5px;
  -webkit-border-radius: 6px 6px 0 0 ;
  -moz-border-radius: 6px 6px 0 0 ;
  border-radius: 6px 6px 0 0 ;
}

.panel-content {
  background: #fff;
  margin-top: 1px;
  padding: 10px;
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
}

.left { float: left; }
.right { float: right; }
.clear { clear: both; }


form.condensed .control-group {
    margin-bottom: 6px;    
}

form.condensed legend {
    margin-bottom: 0px;
    line-height: 25px;
}

label.required:after {
    color: red;
	font-weight: bold;
	font-size: 1.5em;
	line-height: 50%;
	content: " *";
	vertical-align: bottom;
} 