/*
*= require jquery-ui
*= require jquery.tooltip
*= require bootstrap
*= require lavalamp
*= require races
*= require results
*= require_self
*/

body {
	padding-top: 90px;
	margin-left: auto;
	margin-right: auto;
}

.modal > form {
	margin-bottom: 0px;
}

footer {
	margin-top: 20px;
	border-top: 1px solid #eee;
	text-align: right;
}