/*
*= require jquery-ui
*= require jquery.tooltip
*= require bootstrap
*= require races
*= require results
*= require_self
*/

body {
	padding-top: 90px;
	margin-left: auto;
	margin-right: auto;
}

.modal > form {
	margin-bottom: 0px;
}

/* override bottstrap height for button dropdowns in a table */
td .btn-group .btn {
	line-height: 13px;
}

.panel {
	background: -webkit-gradient(linear, left top, left bottom, from(#ddd), to(#f6f6f6));
	background: -moz-linear-gradient(top, #ddd, #f6f6f6);
	padding: 3px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

.panel h3 {
	background: #f6f6f6;
	padding: 10px;
	-webkit-border-radius: 6px 6px 0 0 ;
	-moz-border-radius: 6px 6px 0 0 ;
	border-radius: 6px 6px 0 0 ;
}

.panel-content {
	background: #fff;
	margin-top: 1px;
	padding: 10px;
	/*border: 1px solid #eee;*/
	-webkit-border-radius: 0 0 6px 6px;
	-moz-border-radius: 0 0 6px 6px;
	border-radius: 0 0 6px 6px;
}